@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.root {
    -fx-background-color: #748C8B;
}

.label {
    -fx-text-alignment: center;
    -fx-font-family: 'VT323', monospace;
}

.button {
    -fx-background-color: #ffffff;
    -fx-font-fill: #000000;
    -fx-background-radius: 30px;
    -fx-font-family: 'VT323', monospace;
    -fx-padding: 0px;
}

#theSnake {
    -fx-font-size: 9em;
}

#restartButton {
    -fx-font-size: 5em;
}

#restartButton:hover {
    -fx-background-color: #dbdbdb;
}

#homeButton {
    -fx-font-size: 3em;
}

#homeButton:hover {
    -fx-background-color: #dbdbdb;
}